@import "reset.css";

/* Components */
@import "components/header.css";
@import "components/citycard.css";
@import "components/info.css";

/* Screens */
@import "screens/home.css";

footer {
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

footer span {
  color: #b2bec3;
}

footer a {
  color: teal;
}
