.wrapper {
  margin: 0 40px;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

.notice {
  width: 520px;
  height: 235px;
  background-color: white;
  border: 2px solid #fdcb6e;
}

.notice_title {
  padding: 10px;
  padding-left: 20px;
  background-color: #fdcb6e;
}

.notice_title span:first-child {
  color: white;
  font-size: 20px;
}

.notice_title span:nth-child(2) {
  color: white;
  font-size: 13px;
  font-weight: 300;
}

.notice_content {
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  color: #576574;
  text-indent: 0;
  font-weight: 400;
}

.support {
  display: flex;
}

.support span {
  display: block;
  font-size: 13px;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 7px;
  color: #8395a7;
  font-weight: 400;
}
