.info_wrap {
  display: flex;
  justify-content: center;
}
.info {
  width: 1000px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 10px 10px 10px #bdc3c7;
  background-color: #ffffff;
}

.info_column {
  width: 100%;
  height: 500px;
  padding: 40px;
}
.info_column:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
}

.info_column:last-child div {
  font-size: 20px;
  padding: 10px;
}

.info_column div a:hover {
  color: gray;
}

.info_image {
  margin: 30px 0px;
}

.info_title {
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: 300;
}

.img_resize {
  width: 220px;
  height: 90px;
}

.img_resize_2 {
  width: 220px;
  height: 200px;
}

.border-roma {
  border: 5px solid #f39c12;
  border-radius: 10px;
}

.divide-roma {
  border-right: 1px solid #f39c12;
}

.border-milano {
  border: 5px solid #3498db;
  border-radius: 10px;
}

.divide-milano {
  border-right: 1px solid #3498db;
}

.border-firenze {
  border: 5px solid #a29bfe;
  border-radius: 10px;
}

.divide-firenze {
  border-right: 1px solid #a29bfe;
}

.border-venezia {
  border: 5px solid #f1c40f;
  border-radius: 10px;
}

.divide-venezia {
  border-right: 1px solid #f1c40f;
}

.border-bologna {
  border: 5px solid #d35400;
  border-radius: 10px;
}

.divide-bologna {
  border-right: 1px solid #d35400;
}

.border-genova {
  border: 5px solid #27ae60;
  border-radius: 10px;
}

.divide-genova {
  border-right: 1px solid #27ae60;
}
